.container {
display: flex;
justify-content: space-between;
align-items: center;
height: 100px;
}
.logo {
    font-size: 30px;
    font-weight: bold;
    position: relative;
    width: 100px;  /* Set the desired width */
    height: 100px; /* Set the desired height */
}
.logoImage {
    object-fit: contain;
}